@import url('https://fonts.googleapis.com/css?family=Abel%27'); 

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-span {
  font-size: 20px;
  font-weight: lighter;
}

.bioBody {
  margin-left: 5px;
}

.bioBody img {
  height: auto;
  margin: 25px;
  margin-left: 50px;
}

.p {
  text-align: justify;
  font-size: 25px;
}

.bioImg {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container img {
  max-width: 100%;
}

/* Mobile styles */
.container.mobile {
  width: 100%;
  padding: 20px;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .container.tablet {
    width: 80%;
    padding: 40px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 992px) {
  .container.desktop {
    width: 70%;
    padding: 60px;
  }
}