@import url('https://fonts.googleapis.com/css?family=Abel%27'); 

.bio-span {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}

.bioBody {
  margin-left: 5px;
}

.bioBody img {
  float: right;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.bioImg {
  width: 400px;
}

