@import url('https://fonts.googleapis.com/css?family=Abel%27'); 

.films{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
    align-items: center;
    gap:40px;
}

.filmIcons {
    padding-top: 30px;
}

.bannerFilms{
    width: 100%;
    height: 18em;
    object-fit: cover;
    object-position: 0% 70%;
}

.search{
    margin-bottom: 50px;
}

.delete-feature {
    color: white;
    background-color: black;
    width: 100px;
    border-color: #fff;
    border-radius: 5px;
    font-family: Abel;
    font-size: 15px;
    align-self: flex-end;
    transition: all .3s;
}

.delete-feature:hover {
    background-color: #494848;
    cursor: pointer;
}

.popup-deleteFeature {
    display: flex;
}

.confirm-buttons {
    background-color: initial;
    border-color: #fff;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    transition: all .3s;
    width: 150px;
    margin: 10px;
}

.confirm-buttons:hover{
    background-color: #584646;
    cursor: pointer;
}

.delete-button {
    display: flex;
    padding-top: 10px;
}

@media only screen and (max-width: 1300px) {
    .delete-feature {
        font-size: 13px;
        width: 80px;
    }
}

@media only screen and (max-width: 1000px) {
    .delete-feature {
        font-size: 10px;
        width: 60px;
    }
}

@media only screen and (max-width: 800px) {
    .delete-feature {
        font-size: 8px;
        width: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .delete-feature {
        font-size: 8px;
        width: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .delete-feature {
        font-size: 5px;
        width: 30px;
    }
}