.film{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filmImg{
    height: 310px;
    width: 360px;
    object-fit: cover;
}
.filmTitle{
    font-weight: lighter;
}

.filmDuration{
    font-weight: lighter;
    font-size: small;
    margin-top: 3px;
}
.openDetails{
    background-color: transparent;
    border: none;
    outline:none;
}

@media only screen and (max-width: 1900px) {
    .filmImg {
        height: 320px;
        width: 376px;
    }
}

@media only screen and (max-width: 1600px) {
    .filmImg {
        height: 260px;
        width: 316px;
    }
    .filmTitle {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    .filmImg {
        height: 224px;
        width: 280px;
    }
}

@media only screen and (max-width: 1300px) {
    .filmImg {
        height: 204px;
        width: 251px;
    }
    .filmTitle {
        font-size: 16px;
    }
    .filmDuration {
        font-size: x-small;
    }
}

@media only screen and (max-width: 1200px) {
    .filmImg {
        height: 184px;
        width: 227px;
    }
}

@media only screen and (max-width: 1105px) {
    .filmImg {
        height: 164px;
        width: 198px;
    }
    .filmTitle {
        font-size: 14px;
    }
    .filmDuration {
        font-size: xx-small;
    }
}

@media only screen and (max-width: 1000px) {
    .filmImg {
        height: 144px;
        width: 172px;   
    }
    .filmTitle {
        font-size: 12px;
    }
    .filmDuration {
        font-size: 8px;
    }
}

@media only screen and (max-width: 900px) {
    .filmImg {
        height: 134px;
        width: 163px;   
    }
}

@media only screen and (max-width: 800px) {
    .filmImg {
        height: 104px;
        width: 141px;   
    }
    .filmTitle {
        font-size: 10px;
    }
    .filmDuration {
        font-size: 6px;
    }
}

@media only screen and (max-width: 720px) {
    .filmImg {
        height: 114px;
        width: 138px;   
    }
}

@media only screen and (max-width: 600px) {
    .filmImg {
        height: 117px;
        width: 142px;   
    }
}

@media only screen and (max-width: 500px) {
    .filmImg {
        height: 100px;
        width: 117px;   
    }
    .filmTitle {
        font-size: 8px;
    }
    .filmDuration {
        font-size: 5px;
    }
}

@media only screen and (max-width: 420px) {
    .filmImg {
        height: 84px;
        width: 96px;   
    }
    .filmTitle {
        font-size: 7px;
    }
    .filmDuration {
        font-size: 4px;
    }
}

@media only screen and (max-width: 400px) {
    .filmImg {
        height: 74px;
        width: 86px;   
    }
}