.film{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.filmImg{
    padding-top: 5px;
    height: 250px;
    width: 285px;
}
.filmTitle{
    font-weight: lighter;
    font-size: medium;
    margin-top: -50px;
}

.filmType{
    font-weight: lighter;
    font-size: x-small;
    margin-top: -48px;
}
.openDetails{
    background-color: transparent;
    border: none;
    outline:none;
    }