.film{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filmImg{
    height: 300px;
    width: 375px;
}
.filmTitle{
    font-weight: lighter;
}

.filmType{
    font-weight: lighter;
    font-size: small;
    margin-top: 3px;
}
.openDetails{
    background-color: transparent;
    border: none;
    outline:none;
    }