.home{
    margin-top:-100px
    
}


.aboutBody{
   
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
   
    
 
}
.samImg{
    margin-left:100px;
    margin-top: auto;
    width:300px;
}

h1{
    font-weight: 400;
    margin-top:50px;
    
}
h2{
    margin-top:50px;
    font-weight: 300;
    padding-right:50px;
    
}
h3{
    font-size: xx-large;
}


.player-wrapper {
    position: relative;
    padding-top:26%
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }


.upcomingProjects{
        display:flex;
        flex-direction: column;
        margin-bottom:100px;
        align-items:center;
        justify-content:center

}

.reel{
   
    display: flex;
    gap:50px;
    overflow-x: auto;
    max-width: 1240px;
    
  }

.reelText{
    padding-right:950px;
    font-size: xx-large;
    margin-bottom:10px
   
}
.topReel{
    display: flex;
    flex-direction: row;
 
}


.page {
    min-height: 75vh;
    margin:100px
}