@import url('https://fonts.googleapis.com/css?family=Abel%27');

.home{
    margin-top:-100px
    
}


.aboutBody{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:150px;
    font-family: Abel;
    margin-top: 100px;
}
.samImg{
    margin-left:100px;
    margin-top: auto;
    width:400px;
    height: 420px;
    object-fit: cover;
}

h1{
    font-weight: 400;
    font-family: Abel;
    margin-bottom: 40p;
    
}
h2{
    margin-top:50px;
    font-weight: 300;
    padding-right:50px;
    
}
h3{
    font-size: xx-large;
}

h5 {
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	margin: 0;
	color: #fff;
	text-align: center
}
.clientDesc{
    margin-top: -20px;
    max-width: 900px;
    font-size: 32px;
    font-family: Abel;
}


.player-wrapper {
    position: relative;
    padding-top:26%
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }


.upcomingProjects{
        display:flex;
        flex-direction: column;
        margin-bottom:100px;
        align-items:center;
        justify-content:center

}

.home .reel{
   
    display: flex;
    gap:50px;
    overflow: hidden;
    max-width: 1450px;
    width: 1450px;
    
  }

.home .reelText{
    padding-right:1050px;
    font-size: 40px;
    margin-bottom:20px;
    font-family: Abel;
   
}
.home .topReel{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}

.page {
    min-height: 75vh;
    margin:100px
}


.settings-title {
	font-size: 20px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 6px;
    text-align: center;

}

.arrows {
    cursor: pointer;
}