.password-reset {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.password-reset__content {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}
.password-reset_title {
	text-align: end;
	font-size: 32px;
	padding: 15px 20px;
	border-bottom: 3px solid #fff;
}
.password-reset__form {
	margin-top: 20px;
	padding: 15px 20px;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.password-reset__form input,
label,
button {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.password-reset__input {
	width: 100%;
	padding: 20px 30px;
	background-color: #fff;
	border: none;
	font-size: 18px;
	margin-bottom: 5px;
}
.password-reset__input--email {
}
.password-reset__input--password {
}

.password-reset__form-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	padding: 20px 30px;
	transition: all 0.4s;
}

.btn-submit {
	border: 1px solid #fff;
	background-color: #000;
}
.btn-submit:hover {
	background-color: #222;
}

.reset-password__notmatched {
	color: rgba(255, 0, 0, 0.758);
}
