@import url('https://fonts.googleapis.com/css?family=Abel%27'); 

.plays{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
    align-items: center;
    gap:40px;
}

.playIcons {
    padding-top: 30px;
}

.bannerPlays{
    width: 100%;
    height: 18em;
    object-fit: cover;
    object-position: 0px 40%;
}

.blank-add-plays {
    width: 375px;
    height: 300px;
    border: 2px solid rgb(131, 127, 127);
    margin-bottom: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}