.playDetails{
    display: flex;
    flex-direction: row;
    font-family: Abel;
    gap: 100px;
    justify-content: center;
}
.left{
    display: flex;
}

.playCoverImg{
    width: 700px;
    height: auto;
    display: flex;
}
.playsTitle{
    display: flex;
    font-size: 65px;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 200px;
    height: auto;
    white-space: nowrap;
    margin-top: -80px;
    padding-bottom: 10px;
}
.playSynopsis{
    font-size: 24px;
    margin-top: 50px;
}
.production{
    font-size: 24px;
    margin-top: 15px;
}
.development{
    margin-top: 15px;
    font-size: 24px;
}

.detailPageVideos{
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
    align-items:center;
    justify-content:center
}
.detailPageVideos .arrows{
    padding-left:160px;
}

.play-writer {
    font-size: 24px;
}

.play_avaliable {
    margin-top: 50px;
    margin-bottom: 15px;
}

.play_links {
    display: flex;
    gap: 30px;
    max-height: 110px;
}

.playlink {
    display: flex;
}

.playlink a img {
    object-fit: contain;
    height: 100%;
    max-height: 70px;
    max-width: 150px;
}

.playReel{
    display:flex;
    flex-direction: column;
    margin-top:150px;
    justify-content:center
}

.playReel .playTopReel{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    margin-bottom: 20px;
}

.playReel .playVideoReelText{
    padding-right:1450px;
    font-size: 40px;
    font-family: Abel;
}

.playReel .playPhotoReelText{
    padding-right:1440px;
    font-size: 40px;
    font-family: Abel;
}