@import url('https://fonts.googleapis.com/css?family=Abel%27');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.press{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    flex-direction: row;
}

.pressIcon{
    width: calc((100% - 200px) / 3);
    flex-shrink: 4;
}

.pressIcon:last-child:not(:nth-last-child(-n+2)) {
    margin-right: 0;
  }

.press_title{
    font-size: 45px;
    display: table;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    font-family: Lobster;
}

.project_title{
    font-size: 30px;
    position: relative;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-bottom: 35px;
    font-family: Oswald;
}

.press_image{
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.quote{
    font-weight: lighter;
    font-size: 20px;
    font-family: Abel;
    color: #D3D3D3;
}

.author{
    font-weight: 300;
    font-size: 24px;
    display: block;
    padding-top: 25px;
}

.openDetails{
    background-color: transparent;
    border: none;
    outline:none;
}

.blank-add-press {
    width: 100%;
    height: 90%;
    border: 2px solid rgb(131, 127, 127);
    display: flex;
    justify-content: center;
    align-items: center;
}

.press-add-container {
    align-items: center;
    display: flex;
    width: calc((100% - 200px) / 3);
}

.popup-header-press {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

.optional {
    color: #b3a6a7;
    font-size: 16px;
    margin-bottom: 10px;
}

.editContent-press {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttonDetailsUpdate-press {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.buttonDetailsUpdate-press button {
    float: right;
    width: 150px;
    background-color: #240f0e;
    color: #e6d8d9;
    border-color: #716161;
    padding: 10px 20px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 5px;
    transition: all 0.3s;
}

.buttonDetailsUpdate-press button:hover {
    background-color: #655b5b;
    cursor: pointer;
}

.edit-press input, .edit-press textarea {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    transition: all .3s;
    width: 100%;
}

.project_title-edit {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    font-family: Oswald;
}

.edit-press textarea {
    font-weight: lighter;
    font-size: 20px;
    font-family: Abel;
    resize: vertical;
    height: 200px;
}

.author-edit {
    font-weight: 300;
    font-size: 24px;
    margin-top: 10px;
}


/* media queries */

/* styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .pressIcon{
        width: 50%;
        margin-inline: auto;
    }
    
    .press_title{
        font-size: 35px;
    }
    
    .project_title{
        font-size: 25px;
    }
}

/* styles for screens smaller than 500px */
@media only screen and (max-width: 500px) {
    .pressIcon{
        width: 80%;
        margin-inline: auto;
        margin-bottom: 50px;
    }
    
    .press_title{
        font-size: 25px;
    }
    
    .project_title{
        font-size: 20px;
    }
}


