@import url('https://fonts.googleapis.com/css?family=Abel%27');

.plays {
    padding-left: 75px;
}

.test {
    padding-left: 0px !important;
    margin-left: -121px;
    padding-top: 100px;
}

.bannerImg {
    width: 100%;
    height: 10em;
    /*position: absolute;*/
}

.pressBanner {
    font-size: 80px;
    position: relative;
    margin-top: -156px;
    /*padding-left: 100px;*/
    /*letter-spacing: 10px;*/
    letter-spacing: .2rem;
    font-family: Abel;
}