@import url('https://fonts.googleapis.com/css?family=Abel%27');

.imgContainer{
    display: flex;
    flex-direction: column;
    
    position: relative;
    justify-content: center;
    align-items: center;
}

.blank{
    height:380px;
    width: 450px;
    object-fit: cover;
    object-position: top;
}

.blank-add{
    height: 380px;
    width: 450px;
    border: 2px solid rgb(131, 127, 127);
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption{
    font-size: 25px;
    padding-top: 15px;
    font-family: Abel;
}

.addButton{
    background-color: transparent;
    background-size: 100px;
    width: 100px;
    height: 83px;
    border: 0;
    cursor: pointer;
}

.addButton img{
    width:100px;
}

.playButton{
    position: absolute;
    background-color: transparent;
    top:40%;
    background-image: url('//assets.squarespace.com/universal/images-v6/damask/play-button@2x.png');
    background-size: 40px;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
}
.playButton img{
        width:50px;
}

.top-bar {
	color: var(--white);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0;
	font-size: 32px;
	margin-bottom: -5px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}
.amounts {
	margin: 2px;
	font-size: 30px;
	color: var(--white);
    font-family: var(--secondfont);
	margin-top: 0;
	margin-bottom: -12px
}

.delete-feature {
    color: #e6d8d9;
    background-color: #240f0e;
    width: 100px;
    border-color: #716161;
    border-radius: 5px;
    font-family: Abel;
    font-size: 15px;
    align-self: flex-end;
    transition: all .3s;
}

.delete-feature:hover {
    background-color: #655b5b;
    cursor: pointer;
}

.popup-deleteFeature {
    display: flex;
}

.confirm-buttons {
    background-color: initial;
    border-color: #fff;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    transition: all .3s;
    width: 150px;
    margin: 10px;
}

.confirm-buttons:hover{
    background-color: #584646;
    cursor: pointer;
}
