.searchInput{
    margin-top: 0px;
    display: flex;
}

.search{
    float: right;
    border: 2px solid #242526;
    border-radius: 4px 4px 4px 4px;
}

.search input {
    background-color: transparent;
    color: white;
    border: 0px;
    font-family: Abel;
    font-size: 20px;
    padding: 15px;
    padding-left: 0px;
    height: 10px;
    width: 200px;
    float: right;
}


.searchIcon{
    height: 43px; 
    width: 50px;
    background-color: transparent;
    display: grid;
    place-items: center;
    float:right;
}

input:focus {
    outline: none;
}
.searchIcon svg {
    font-size: 35px;
}

#clearBtn{
    cursor: pointer;
}

#clickBtn{
    cursor: pointer;
}

