.imgContainer{
    display: flex;
    flex-direction: column;
    
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.video .blank {
    height:380px;
    width: 380px;
}
.caption{
    text-align: 10px;
}

.playButton{
    position: absolute;
    background-color: rgba(1,1,1,1);
    top:40%;
    }
.playButton  img{

        width:50px;
}

.video .playButton img {
    width:60px;
}

