.imgContainer{
    display: flex;
    flex-direction: column;
    
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.video .blank {
    height:380px;
    width: 380px;
}
.caption{
    text-align: 10px;
}

.video .playButton img {
    width:60px;
}

