.biography{
    padding-left:75px;
   
}
.bioBanner{
    font-size: 120px;
    padding-top:100px;
}
h2{
    padding-top: 50px;
}
.bioBody{
    display: flex;
    flex-direction: row;
}

 .bioBody img {
    width: 600px;
    height: 600px;
}