@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Quicksand:wght@300&display=swap');
.navbar {
    position: 0;
    width: 100%;
    height: 100px;
    background-color: #2b0606;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
  }
  .title{
    font-size:30px;
    color: white;
    padding: 150px;
   
  }
  .links{
    
    font-family: 'Quicksand', sans-serif;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }

  @media only screen and (max-width: 900px) {
    .navbar  a {
      width: 70px;
    }
    .navbar  {
      padding-left: 50px;
    }

    @media only screen and (max-width: 600px) {
        .navbar a {
          display: none;
        }
      
        .navbar  {
          justify-content: flex-end;
          padding-right: 50px;
        }
      
     
      }
      

  }